@import url("https://css.gg/css");

/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $primaryColor;
}

#headerWrapper {
  background-color: $accentColor;
  color: $secondaryColor;
}
header {
  display: flex;
  align-items: flex-end;
  padding: 1.2rem $gutter;
  gap: 10px;

  h1 {
    font-family: $defaultFont;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
  }
}

#navWrapper {
  background-color: $greyColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  button {
    background: transparent;
    border: none;
    font-size: 2rem;
    padding: .3rem 0;
    margin-left: $gutter;
  }
}
nav {
  padding: 0;
  margin: 0;
padding-right: $gutter;
  display: none;
  flex-direction: column;

  a {
    flex: 1;
    text-align: center;
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: black;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);

    &:hover {
      background-color: darken($accentColor, 10%);
    }

    &:first-of-type {
      border-top: 0.5px solid rgba(255, 255, 255, 0.1);
    }
  }
  a.active {
    background-color: darken($accentColor, 30%);
  }
}

.open {
  display: flex;
}

h2 {
  padding-left: $gutter;
}

.cardsWrapper {
  padding: 0 $gutter;
  section {
    border: 2px solid $secondaryColor;
    border-radius: 8px;
    overflow: hidden;
    margin: 1rem 0;

    h3,
    p,
    img {
      margin: 0;
      padding: 1rem $gutter;
    }
    h3 {
      color: $secondaryColor;
      background-color: $accentColor;
      font-size: 1.5rem;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
    .e2e {
      padding: 0;
    }
    p {
      font-style: italic;
      font-weight: 200;
    }
    a {
      display: block;
      background-color: $accentColor;
      padding: 0.8rem;
      text-align: center;
      margin: 0 3rem 1rem 3rem;
      border-radius: 10px;
      color: black;
      text-decoration: none;
    }
  }
}

// begin the footer
#footerWrapper {
  background-color: $greyColor;
}
footer {
  padding: 0.5rem $gutter;

  section {
    &.contact {
      p {
        font-size: 1.2rem;
        display: flex;
        gap: .5rem;
        align-items: center;
        a {
          display: flex;
          gap: .5rem;
          align-items: center;
          color: $secondaryColor;
          text-decoration: none;
          &:hover{
            color: lighten($fontColor, 25%);}
          span {
            display: block;
          }
        }  
      }
    }
    &.social {
      display: flex;
      gap: 1.8rem;
      align-items: center;
      a {
        display: block;
        font-size: 2rem;
        --ggs:1.5;
        color: $fontColor;
        padding: 1rem 0;

        &:nth-child(4) {
          padding: .5rem;
        }

        &:hover{
          color: lighten($accentColor, 15%);
        }
      }
    }
    &.location {
      font-size: 1.2rem;
    }
  }

  .legal {
    margin: 0;
    font-weight: $lightWeight;
    text-align: center;
  }
}
