$primaryColor: #000000; 
$secondaryColor: #c41c30;
$accentColor: #c57979;
$greyColor: #e7e7e7;
$fontColor: black;

$defaultFont: "Oswald", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;