$primaryColor: #000000; 
$secondaryColor: #6d212a;
$accentColor: #d8baba;
$greyColor: #d9cece;
$fontColor: black;

$defaultFont: "Oswald", sans-serif;;
$lightWeight: 300;
$normalWeight: 400;
$leading: 150%;

$gutter: 10px;